In [40]:
import pandas as pd
import sqlite3
from sqlite3 import Error

data = pd.read_csv ("C:/Users/SAI/Desktop/Zia project/Liver-Disease-Prediction-Project-main/Dataset/Liver_data.csv")   
df = pd.DataFrame(data)
df2=df.replace('Male',0)
df2=df2.replace('Female',1)

In [28]:
def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows
conn=create_connection("project.db")
cur = conn.cursor()

In [29]:
PatientID=[i for i in range(1,584)]
df2["PatientID"]=PatientID
sql='''CREATE TABLE BioData (
PatientID int primary Key,
Age int,
Gender int);'''
create_table(conn,sql)
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO BioData (PatientID,Age,Gender)
                VALUES (?,?,?);
                ''',
                (
                row.PatientID,
                row.Age,
                row.Gender,
                ))
conn.commit()

In [30]:
#### Bilirubin table
sql='''CREATE TABLE Bilirubin (
PatientID int primary key,
Total_Bilirubin  num,
Direct_Bilirubin num);'''
create_table(conn,sql)
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO Bilirubin (PatientID,Total_Bilirubin,Direct_Bilirubin)
                VALUES (?,?,?);
                ''',
                (
                row.PatientID,
                row.Total_Bilirubin,
                row.Direct_Bilirubin,
                ))
conn.commit()

In [31]:
##### Enzymes Table
sql='''CREATE TABLE Enzymes (
PatientID int primary Key,
Alkaline_Phosphotase int,
Alamine_Aminotransferase int,
Aspartate_Aminotransferase int);'''
create_table(conn,sql)
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO Enzymes (PatientID,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase)
                VALUES (?,?,?,?);
                ''',
                (
                row.PatientID,
                row.Alkaline_Phosphotase,
                row.Alamine_Aminotransferase,
                row.Aspartate_Aminotransferase
                ))
conn.commit()

In [32]:
###### Protiens Table
sql='''CREATE TABLE Protiens (
PatientID int primary key,
Total_Protiens num,
Albumin num,
Albumin_and_Globulin_Ratio num);'''
create_table(conn,sql)
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO Protiens(PatientID,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio)
                VALUES (?,?,?,?);
                ''',
                (
                row.PatientID,
                row.Total_Protiens,
                row.Albumin,
                row.Albumin_and_Globulin_Ratio))
conn.commit()

In [33]:
#### Disease_non_Disease table
sql='''CREATE TABLE Disease_non_Disease (
PatientID int Primary Key,
Dataset  int);'''
create_table(conn,sql)
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO Disease_non_Disease(PatientID,Dataset)
                VALUES (?,?);
                ''',
                (
                row.PatientID,
                row.Dataset))
conn.commit()