In [12]:
import pandas as pd

data = pd.read_csv ("C:/Users/SAI/Desktop/Zia project/Liver-Disease-Prediction-Project-main/Dataset/Liver_data.csv")   
df = pd.DataFrame(data)

print(df['Gender'])
df2=df.replace('Male',0)
df2=df2.replace('Female',1)
df2

0      Female
1        Male
2        Male
3        Male
4        Male
        ...
578      Male
579      Male
580      Male
581      Male
582      Male
Name: Gender, Length: 583, dtype: object

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,0,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,0,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,0,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,0,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,0,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [13]:
import sqlite3
from sqlite3 import Error

In [14]:
def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [15]:
conn=create_connection("project.db")

In [16]:
for i in df2:
    print(i)

Age
Gender
Total_Bilirubin
Direct_Bilirubin
Alkaline_Phosphotase
Alamine_Aminotransferase
Aspartate_Aminotransferase
Total_Protiens
Albumin
Albumin_and_Globulin_Ratio
Dataset

In [17]:
len(df2.columns)

11

In [18]:
cur = conn.cursor()

In [10]:
sql='''CREATE TABLE Dataset (
			                Age int,
Gender int,
Total_Bilirubin  num,
Direct_Bilirubin num,
Alkaline_Phosphotase int,
Alamine_Aminotransferase int,
Aspartate_Aminotransferase int,
Total_Protiens num,
Albumin num,
Albumin_and_Globulin_Ratio num,
Dataset  int);'''

In [11]:
cur.execute(sql)

In [12]:
create_table(conn,sql)

table Dataset already exists

In [21]:
for row in df2.itertuples():
    cur.execute('''
                INSERT INTO Dataset (Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset)
                VALUES (?,?,?,?,?,?,?,?,?,?,?);
                ''',
                (row.Age,
                row.Gender,
                row.Total_Bilirubin,
                row.Direct_Bilirubin,
                row.Alkaline_Phosphotase,
                row.Alamine_Aminotransferase,
                row.Aspartate_Aminotransferase,
                row.Total_Protiens,
                row.Albumin,
                row.Albumin_and_Globulin_Ratio,
                row.Dataset))
conn.commit()